p {
  margin: 0;
}

.Test {
  margin: 0px auto 0px;
  color: #000;
  text-align: justify;
  max-width: 1000px;
}

.Test .TestTitle {
  margin: 0 0;
  line-height: 100%;
}

.Test .TestTitle .title {
  text-align: center;
  font-size: 18px;
  border-bottom: 2px solid black;
  padding: 15px;
}

.Test .TestTitle .title .infomation {
  float: right;
  font-size: 14px;
}

.Test .TestTitle .title-decrible {
  padding: 0 20px 5px;
  margin: 25px 0 15px;
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
}

@keyframes dchangeAM {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  48% {
    opacity: 1;
  }
  64% {
    opacity: 0;
  }
  82% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.Test .TestTitle .title-decrible .dchange {
  cursor: pointer;
}

@keyframes directionAM {
  0% {
    background: #fff;
  }
  16% {
    background: #c9eaff;
  }
  32% {
    background: #FFF;
  }
  48% {
    background: #c9eaff;
  }
  64% {
    background: #FFF;
  }
  82% {
    background: #c9eaff;
  }
  100% {
    background: #FFF;
  }
}

.Test .TestTitle .direction {
  animation: directionAM 2s;
}

/* .Test .TestTitle .direction:hover {
  background: #c9eaff;
}
.Test .TestTitle .direction:hover .dchange {
  opacity: 1;
}
.Test .TestTitle .direction:hover .dchange:hover {
  background: #1f86c9;
} */

.Test .article {
  margin: 0 20px;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}

.Test .Question-Conversation {
  padding: 20px 0 15px;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  position: relative;
}

.Test .Question-Conversation .play {
  float: left;
  margin: 12px 0 0 -45px;
  position: absolute;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: url("../images/play-1.png");
}

.Test .Question-Conversation .play:hover {
  background: url("../images/play-1.png");
}

.Test .Question-Conversation .active {
  background: url("../images/play-1.png");
}

.Test .Question-Conversation .Choice {
  margin: 0 50px;
  padding: 10px 0px 26px 20px;
  font-size: 16px;
  line-height: 1.8;
  position: relative;
}

.Test .Question-Conversation .Choice .nu {
  float: left;
  position: relative;
  margin-left: -60px;
}

.Test .Question-Conversation .Choice .nu::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -30px;
  background: url('https://uexercise.unipus.cn/static/its/lib/fltrp/img/t_dian.png') center center no-repeat;
  width: 28px;
  height: 30px;
  color: #ccc;
}

.Test .Question-Conversation .Choice label {
  display: inline-block;
  min-width: 50%;
}

.Test .Question-Conversation .Choice .show_link label {
  min-width: 0;
}

.Test .Question-Conversation .Choice label input {
  margin-right: 8px;
}

.Test .Question-Conversation .Choice .padding {
  margin-bottom: 10px;
}

.Test .Question-Conversation .Choice .yellow {
  color: #ff3800;
}

.Test .Question-Conversation .Choice .green {
  color: white;
}

.Test .Question-Conversation .Choice .Analysis {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccd0d6;
  display: none;
  color: ivory;
}

.Test .Question-Conversation .Choice .Analysis b {
  line-height: 40px;
}

.Test .Question-Conversation .Choice .Marking {
  margin-top: 20px;
  padding-top: 15px;
}

.Test .Question-Conversation .Choice .Marking .text {
  text-indent: 2em;
}

.Test .Question-Conversation .Choice .Marking .text .title {
  text-indent: 0;
  text-align: center;
  font-weight: bold;
}

.Test .Question-Conversation .Choice .Marking .mark label {
  margin-left: 2em;
  display: inline-block;
}

.Test .Question-Conversation .Choice .Marking .mark input[type="text"] {
  width: 80px;
  height: 40px;
  margin-right: 1em;
  text-align: center;
  font-size: 16px;
}

.Test .Question-Conversation .Choice .Marking .AllMark {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #299be4;
  cursor: pointer;
  margin-left: 2em;
}

.Test .Question-Conversation .Choice .Marking .AllMark:hover {
  background: #1f86c9;
}

.Test .Question-Conversation .Choice textarea {
  margin-top: 10px;
  width: 97%;
  height: 155px;
  overflow: auto;
  padding: 0 1em;
  font-size: 14px;
  line-height: 30px;
  text-align: justify;
}

.Test .Question-Conversation .Choice .textchat {
  height: 380px;
  font-size: 16px;
}

.Test .Question-Conversation .Choice .CountWord {
  text-align: right;
  margin-top: -40px;
  font-size: 14px;
  color: #999;
}

.Test .Question-Conversation .Choice .LookRecommend {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #299be4;
  margin-top: 10px;
  cursor: pointer;
}

.Test .Question-Conversation .Choice .LookRecommend:hover {
  background: #1f86c9;
}

.Test .Question-Conversation .Choice .Wordli {
  margin: 0;
  padding: 20px;
  text-align: left;
}

.Test .Question-Conversation .Choice .Wordli li {
  display: inline-block;
  width: 160px;
  font-size: 16px;
  line-height: 36px;
  font-weight: bold;
}

.Test .Question-Conversation .Choice .ReadText {
  line-height: 30px;
  border-bottom: 1px solid #ccc;
}

.Test .Question-Conversation .Choice .ReadText .title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
}

.Test .Question-Conversation .Choice .ReadText p {
  padding: 10px 0 20px 0;
}

.Test .Question-Conversation .Choice .del-btn {
  position: absolute;
  display: none;
  background: url('../img/edp_del.png') center center no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  max-height: 100%;
  right: -60px;
  top: 10px;
}

.Test .Question-Conversation:hover .Choice .del-btn {
  display: block;
}

.Test .Question-Conversation .OpenAnalysis {
  margin-left: 70px;
  position: absolute;
  margin-top: -16px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.Test .Question-Conversation .OpenAnalysis:hover {
  color: #217cb6;
}

.Test .Question-Conversation .OpenAnalysisUT {
  margin-left: 70px;
  color: #2187e0;
  cursor: pointer;
  font-size: 14px;
}

.Test .Question-Conversation .OpenAnalysisUT:hover {
  color: #217cb6;
}

.Test .Question-Conversation .CloseAnalysis {
  margin-left: 70px;
  color: #2187e0;
  cursor: pointer;
  display: none;
}

.ExtralFile {
  display: inline-block;
  position: absolute;
  margin-top: 2px;
  width: 290px;
  height: 28px;
  background: #fff;
  border: 1px solid #adadad;
  background: url("../img/File.png") no-repeat;
  padding-left: 40px;
  line-height: 28px;
}

.ExtralFile .name {
  display: inline-block;
  max-width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ExtralFile .size {
  display: inline-block;
  line-height: 28px;
  overflow: hidden;
  color: #adadad;
}

.remark {
  font-size: 14px;
  line-height: 2;
}

.MarkStar {
  margin: 10px 0;
}

.MarkStar .StarContent {
  display: inline-block;
  float: left;
  width: 49.5%;
  font-size: 14px;
  line-height: 2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.MarkStar .StarContent > span {
  font-size: 16px;
}

.MarkStar .StarContent .star {
  display: inline-block;
  margin: 0 2px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url("../img/star_0.png") no-repeat;
}

.MarkStar .StarContent .star_1 {
  background: url("../img/star_1.png") no-repeat;
}

.MarkStar .StarContent .star_2 {
  background: url("../img/star_2.png") no-repeat;
}

.MarkStar .StarContent .star_hover {
  background: url("../img/star_2.png") no-repeat !important;
}

.MarkStar .StarContent .star_nohover {
  background: url("../img/star_0.png") no-repeat !important;
}

.MarkStar .StarContent span {
  padding-right: 5px;
}

.MarkStar .StarContent input.score {
  margin: 0 .2em 0 .5em;
  width: 3em;
  text-align: center;
}

.dis-order-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url('../img/dis_order.png') center center no-repeat;
  cursor: pointer;
  right: -50px;
  top: 0;
}

.optDisorder {
  display: none;
}

.disOrder-title {
  position: absolute;
  margin-top: -30px;
  width: 100%;
  left: 0;
  text-align: center;
}

.disOrder-title::before {
  content: '';
  display: block;
  width: 80%;
  left: 10%;
  height: 1px;
  position: absolute;
  background: #ddd;
  margin-top: 14px;
}

.disOrder-title .order-title-text {
  display: inline-block;
  background: #fff;
  padding: 0 1em;
  z-index: 999;
  position: relative;
}

@keyframes rote {
  0% {
    transform: rotatey(180deg);
  }
  25% {
    transform: rotatey(135deg);
  }
  50% {
    transform: rotatey(90deg);
  }
  75% {
    transform: rotatey(45deg);
  }
  100% {
    transform: rotatey(0deg);
  }
}

.animit-fz {
  animation: rote .5s;
}

.user-Help-disOrder {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
}

.no-overflow {
  overflow: hidden!important;
}

.user-Help-disOrder .user-help-img {
  width: 650px;
  height: 200px;
  position: relative;
  background: url('../img/uesr-help-disOrder-new.png') top left no-repeat;
}

.user-Help-disOrder .user-help-img.user-help-teacher {
  background: url('../img/uesr-help-disOrder-new.png') top left no-repeat;
}

.user-Help-disOrder .user-help-img .cover-help-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 25px;
  top: 80px;
  box-shadow: 2px 2px 20px #ddd;
  background: url('../img/dis_order.png') #fff center center no-repeat;
  border-radius: 50%;
}

@media screen and (min-width: 450px) and (max-width: 1350px) {
  .Test .Question-Conversation {
    margin-right: 0;
  }
}

@media screen and (min-width: 450px) and (max-width: 1350px) {
  .Test .Question-Conversation .Choice {
    margin-right: 0;
  }
}

@media screen and (min-width: 450px) and (max-width: 1350px) {
  .MarkStar .StarContent span {
    padding-right: 0px;
  }
}

@media screen and (min-width: 450px) and (max-width: 1350px) {
  .MarkStar .StarContent .score {
    padding-left: 0px;
  }
}

.iW_title {
  text-align: center;
  background: #d0e9fd;
  font-size: 14px;
  line-height: 30px;
  margin-right: 7.5em;
}

.iW_title .W_btn {
  color: #fff;
  background: #299be4;
  padding: 0 1em;
  float: right;
  margin-right: -7.5em;
}

.iW_title .W_btn:hover {
  background: #1f86c9;
}

.Test img {
}

